.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;  
}

.input {
    padding: 8px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.inputNumber {
    padding: 8px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 5px;
    border: 2px solid #007bff;
    transition: background-color 0.3s ease;
}

.span {
    font-style: italic;
    font-size: 20px;
    
}